beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.4.0
colorama==0.4.6
idna==3.10
psycopg==3.2.3
psycopg-binary==3.2.3
python-dotenv==1.0.1
requests==2.32.3
soupsieve==2.6
tqdm==4.66.6
tzdata==2024.2
urllib3==2.2.3
